# Ignore Gradle project-specific cache directory
src/machine_learning/images/
src/machine_learning/images_test/
src/machine_learning/training_summaries/
src/machine_learning/retrained_graph.pb
src/machine_learning/retrained_labels.txt
src/machine_learning/bottlenecks/
src/flask/__pycache__/

# Ignore Gradle build output directory

